<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/images/cross.png">
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {{ encore_entry_script_tags('app') }}
    </body>
</html>
